/* .container{
    background-color: rgb(75, 75, 75);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
} */

/* .container header{
    align-items: center;
    justify-content: center;
}

.header__avatar{
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
} */